@import "bootstrap/scss/bootstrap";
@import "bulma";

.navbar-brand .title{
    color:white
}

.image{
    border-radius: 50%;
img{
    border-radius: 50%;  
}
}

.notification:not(:last-child){
    margin-bottom: 0;
}